jobs:
  build:
    docker:
      - image: circleci/ruby:2.6.0-node
    steps:
      - checkout
      - run: mkdir -p workspace_dir
      - run: echo "hi" >> ~/project/workspace_dir/echo-output
      - persist_to_workspace:
        # Must be an absolute path, or relative path from working_directory. This is a directory on the container which is 
        # taken to be the root directory of the workspace.
          root: ~/project/workspace_dir/
          # Must be relative path from root
          paths:
            - echo-output
  acceptance_test_1:
    docker:
      - image: circleci/ruby:2.6.0-node
    steps:
      - checkout
      - attach_workspace:
          at: ~/project/workspace_dir/
      - run: echo "this " >> ~/project/workspace_dir/echo-output
      - persist_to_workspace:
          root: ~/project/workspace_dir/
          paths:
            - echo-output
  acceptance_test_2:
    docker:
      - image: circleci/ruby:2.6.0-node
    steps:
      - checkout
      - attach_workspace:
          at: ~/project/workspace_dir/
      - run: echo "will " >> ~/project/workspace_dir/echo-output
      - persist_to_workspace:
          root: ~/project/workspace_dir/
          paths:
            - echo-output
  acceptance_test_3:
    docker:
      - image: circleci/ruby:2.6.0-node
    steps:
      - checkout
      - attach_workspace:
          at: ~/project/workspace_dir/
      - run: echo "be " >> ~/project/workspace_dir/echo-output
      - persist_to_workspace:
          root: ~/project/workspace_dir/
          paths:
            - echo-output
  acceptance_test_4:
    docker:
      - image: circleci/ruby:2.6.0-node
    steps:
      - checkout
      - attach_workspace:
          at: ~/project/workspace_dir/
      - run: echo "a sentence." >> ~/project/workspace_dir/echo-output
      - persist_to_workspace:
          root: ~/project/workspace_dir/
          paths:
            - echo-output
  deploy:
    docker:
      - image: circleci/ruby:2.6.0-node
    steps:
      - checkout
      - attach_workspace:
          at: ~/project/workspace_dir/
      - run: cat ~/project/workspace_dir/echo-output
      # - run: |
      #     if [[ `cat ~/project/workspace_dir/echo-output` == "Hello, world!" ]]; then
      #       echo "It worked!";
      #     else
      #       echo "Nope!"; exit 1
      #     fi
workflows:
  version: 2
  build_accept_deploy:
    jobs:
      - build
      - acceptance_test_1:
          requires:
            - build
      - acceptance_test_2:
          requires:
            - build
      - acceptance_test_3:
          requires:
            - build
      - acceptance_test_4:
          requires:
            - build
      - deploy:
          requires:
            - acceptance_test_1
            - acceptance_test_2
            - acceptance_test_3
            - acceptance_test_4